# dependencies
/node_modules

# Expo
/.expo
/web-build
/dist

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Expo prebuild
/ios
/android

# IDE
.idea
.vscode

# Temporary files
*.swp
*.swo
*~

# Logs
*.log

# Build
/build

# Test coverage
/coverage
ios/Podfile
android/app/build.gradle
pasaherotestdrive-firebase-adminsdk-36p17-0fbd872d33.json
scripts/setup-admin-code.js

android/gradle.properties
android/app/build.gradle
android/app/src/main/AndroidManifest.xml
android/gradle.properties
android/app/build.gradle
android/app/src/main/AndroidManifest.xml
