node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env
.env.testing
.firebaserc
firebase.json
firestore.rules
google-services.json
GoogleService-Info.plist
pasaherotestdrive-firebase-adminsdk-36p17-0fbd872d33.json
